
.Row {
	display: flex;
}

.Column-12 {
	flex: 1;
}

.Column-9 {
	// flex: 0.7;
	flex: 0.75;
}

.Column-8 {
	// flex: 0.6;
	flex: 0.67;
}

.Column-7 {
	flex: 0.6;
}

.Column-6 {
	flex: 0.5;
}

.Column-5 {
	flex: 0.4;
}

.Column-4 {
	// flex: 0.4;
	flex: .33;
}

.Column-3 {
	// flex: 0.3;
	flex: 0.25;
}

.Flex {
	display: flex;
}

.Flex-1 {
	flex: 1;
}

.Flex--column {
	flex-direction: column;
}

.Flex--end {
	align-items: flex-end;
	justify-content: flex-end;
}

.Flex--center {
	align-items: center;
	justify-content: center;
}

.Flex--wrap {
	flex-wrap: wrap;
}

.Flex--center-to-end {
	align-items: center;
	justify-content: flex-end;
}

.Space-between {
	justify-content: space-between;
}