h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.btn {
	border-radius: 0;
	font-weight: 300;
}

.btn-heart {
	&:hover {
		color: white;
	}
	&:active, &:focus {
		box-shadow: 0 !important;
	}
}

.form-control {
	border-radius: 0;
}

// Flex
.form-group__content > * {
	margin: 0 10px;
}

.form-group__content {
	label {
		margin: 0;
	}
}

.owl-wrapper {
	.owl-item {
		margin: 0px 5px;
	}

	.Developer__image {
		margin-right: 0;
	}
}

.Hero__carousel {
	.owl-item {
		margin: 0;
	}
}

.Floorplans {
	.owl-item {
		margin: 0;
	}
}

.navbar {
	margin-bottom: 0;
}

.ais-SearchBox__root {
	width: 100% !important;
}

.ais-SearchBox__input {
	background-color: white !important;
}

.ais-Hits__root {
    padding: 10px;	
    background: white;
}

.Home__video--container {
	.video-js {
		.vjs-tech {
			position: relative !important;
			// height: 391px;
		}
	}
}